@font-face {
    font-family: Sailec;
    src: url(/SailecMedium.ttf);
  }
body{
    margin: 0;
    overflow-x: hidden;
}

/* flex container */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
    gap:5rem;
    
}

/*image*/
.backdrop{
    background-color: #e7524c;
    width: 30rem;
    height:90vh;
    position: relative;
    bottom:5vh;
   display: flex;
}

.backdrop > .tesla_coill{
    background-image: url("../public/images/tesla_coil_low_poly_1.png");
    width: 30rem;
    height:90vh;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.backdrop > .tesla_turbinee{
    background-image: url("../public/images/tesla_turbine_2.png");
    width: 30rem;
    height:90vh;
    background-repeat: no-repeat;
    background-position: center;
}

.backdrop > .tesla_ac{
    background-image: url("../public/images/ac_power_1.png");
    width: 30rem;
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.backdrop > .induction_motorr{
    background-image: url("../public/images/induction_motor_2.png");
    width: 30rem;
    height:90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* text */
.text{
    font-family: Sailec;
    color: white;
    width: 30rem; 
    
}
.heading{
    font-size: 36px;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.para{
    font-size: 18px;
    margin-bottom: 5rem;
}


/* for responsive website */
@media only screen and (max-width: 800px){
    .backdrop{
        background-color: #e7524c;
        width: 85vw;
        height:90vh;
        position: relative;
       
    }
    .text{
        font-family: Sailec;
        color: white;
        width: 85vw;
      
    }
    .heading{
        font-size: 24px;
        margin-top: 1rem;
       
    }
    .para{
        font-size: 12px;
    }
    .backdrop > .tesla_coill{
        width: 85vw;
        height:90vh;
        background-size: contain;
        background-position: center;
    }
    .backdrop > .tesla_turbinee{
        width: 85vw;
        height:90vh;
        background-size: contain;
        background-position: center;
    }
    .container{
        gap: 0rem;
    }
}